<!DOCTYPE html>
<html>

<head>
    <title>Rahaf Restaurant App</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <div class="logo">
                    <a href="/">Rahaf Restaurant</a>
                </div>
                <li><a href="/">Home</a></li>
                <li><a href="/menu.html">Menu</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
                <li><a href="/thanks.html">Thank You</a></li>
            </ul>
        </nav>
    </header>
    <section id="home">
        <h1>Welcome to our Restaurant</h1>
        <p>Enjoy delicious meals made with love!</p>
        <a href="/menu.html" class="btn">View Menu</a>
    </section>
    <section id="menu">
        <h2>Our Menu</h2>
        <br/>
        <div class="menu-item">
            <img src="/falafel.jpg" alt="Menu Item 1">
            <h3>falafel</h3>
            <p>Description of Item 1</p>
            <span class="price">$10</span>
        </div>
        <div class="menu-item">
            <img src="/hms.jpg" alt="Menu Item 2">
            <h3>Hommos</h3>
            <p>Description of Item 2</p>
            <span class="price">$12</span>
        </div>
        <!-- Add more menu items here -->
    </section>
    <section id="about">
        <h2 style="color: #0f1312;">About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper elit at elit venenatis lacinia.
            Nullam faucibus rhoncus ex. Nam malesuada, sapien et posuere placerat, nulla sapien euismod dui, non
            consequat ipsum dolor non ligula.</p>
    </section>
    <br>
    <br>
    <footer style="text-align: center;">
        <p>&copy; 2023 Restaurant App. All rights reserved.</p>
    </footer>
    <br/>
</body>

</html>